In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/Cfg-data/final-project/refs/heads/master/data/raw/enrollment_data/UNdata_Export_20241213_133715390.csv"

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(url)

# Display the first few rows of the dataframe
df.head()

,Reference Area,Time Period,Sex,Age group,Units of measurement,Observation Value
0,Afghanistan,2014,All genders,Not applicable,Percent,1.97750
1,Afghanistan,2012,All genders,Not applicable,Percent,1.94761
2,Afghanistan,2011,All genders,Not applicable,Percent,1.27354
3,Albania,2014,All genders,Not applicable,Percent,8.26905
4,Albania,2013,All genders,Not applicable,Percent,7.76118

In [3]:
df.shape

(2065, 6)

In [4]:
null_values = df.isnull().sum()

print(null_values)

Reference Area          0
Time Period             0
Sex                     0
Age group               0
Units of measurement    0
Observation Value       0
dtype: int64