In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/Cfg-data/final-project/refs/heads/master/data/raw/literacy_rates/UNdata_Export_20241213_140708283.csv"

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(url)

# Display the first few rows of the dataframe
df.head()

,Reference Area,Time Period,Sex,Age group,Units of measurement,Observation Value
0,Afghanistan,2015,Not applicable,15-24 year olds,Percent,0.664160
1,Afghanistan,2011,Not applicable,15-24 year olds,Percent,0.518967
2,Afghanistan,1979,Not applicable,15-24 year olds,Percent,0.243310
3,Albania,2015,Not applicable,15-24 year olds,Percent,1.001060
4,Albania,2012,Not applicable,15-24 year olds,Percent,0.996420

In [3]:
df.shape

(1336, 6)

In [4]:
null_values = df.isnull().sum()

print(null_values)

Reference Area          0
Time Period             0
Sex                     0
Age group               0
Units of measurement    0
Observation Value       0
dtype: int64