In [2]:
import pandas as pd

In [3]:
url = "https://raw.githubusercontent.com/Cfg-data/final-project/refs/heads/master/data/raw/goverment_expenditure/UNdata_Export_20241213_135502548.csv"

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(url)

# Display the first few rows of the dataframe
df.head()

,Reference Area,Time Period,Sex,Age group,Units of measurement,Observation Value
0,American Samoa,2006,Not applicable,Not applicable,Percent,11.73390
1,Andorra,2014,Not applicable,Not applicable,Percent,6.10778
2,Andorra,2013,Not applicable,Not applicable,Percent,4.56672
3,Andorra,2011,Not applicable,Not applicable,Percent,3.67447
4,Andorra,2010,Not applicable,Not applicable,Percent,3.71336

In [4]:
df.shape

(1032, 6)

In [5]:
null_values = df.isnull().sum()

print(null_values)

Reference Area          0
Time Period             0
Sex                     0
Age group               0
Units of measurement    0
Observation Value       0
dtype: int64