In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/Cfg-data/final-project/refs/heads/master/data/raw/literacy_rates/UNdata_Export_20241213_140703208.csv"

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(url)

# Display the first few rows of the dataframe
df.head()

,Reference Area,Time Period,Sex,Age group,Units of measurement,Observation Value
0,Afghanistan,2015,Female,15-24 year olds,Percent,46.105990
1,Afghanistan,2015,Male,15-24 year olds,Percent,69.420520
2,Afghanistan,2015,All genders,15-24 year olds,Percent,58.154900
3,Afghanistan,2011,All genders,15-24 year olds,Percent,46.990051
4,Afghanistan,2011,Male,15-24 year olds,Percent,61.879069

In [3]:
df.shape

(4010, 6)

In [4]:
null_values = df.isnull().sum()

print(null_values)

Reference Area          0
Time Period             0
Sex                     0
Age group               0
Units of measurement    0
Observation Value       0
dtype: int64