In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/Cfg-data/final-project/refs/heads/master/data/raw/goverment_expenditure/UNdata_Export_20241213_140220131.csv"

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(url)

# Display the first few rows of the dataframe
df.head()

,Reference Area,Time Period,Sex,Age group,Units of measurement,Observation Value
0,Albania,2013,Not applicable,Not applicable,Percent,29.34387
1,Algeria,2003,Not applicable,Not applicable,Percent,11.52180
2,Algeria,2002,Not applicable,Not applicable,Percent,11.03453
3,Algeria,2000,Not applicable,Not applicable,Percent,9.94408
4,Algeria,1999,Not applicable,Not applicable,Percent,12.24066

In [3]:
df.shape

(1328, 6)

In [4]:
null_values = df.isnull().sum()

print(null_values)

Reference Area          0
Time Period             0
Sex                     0
Age group               0
Units of measurement    0
Observation Value       0
dtype: int64