In [2]:
import pandas as pd

In [3]:
url = "https://raw.githubusercontent.com/Cfg-data/final-project/refs/heads/master/data/raw/goverment_expenditure/UNdata_Export_20241213_135449826.csv"

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(url)

# Display the first few rows of the dataframe
df.head()

,Reference Area,Time Period,Sex,Age group,Units of measurement,Observation Value
0,American Samoa,2006,All genders,Not applicable,Percent,0.00000
1,Andorra,2014,All genders,Not applicable,Percent,37.71324
2,Andorra,2013,All genders,Not applicable,Percent,9.89641
3,Andorra,2011,All genders,Not applicable,Percent,30.85201
4,Andorra,2010,All genders,Not applicable,Percent,31.17853

In [4]:
df.shape

(1178, 6)

In [5]:
null_values = df.isnull().sum()

print(null_values)

Reference Area          0
Time Period             0
Sex                     0
Age group               0
Units of measurement    0
Observation Value       0
dtype: int64

In [6]:
df = df.drop(columns=['Age group'])

df.head()

,Reference Area,Time Period,Sex,Units of measurement,Observation Value
0,American Samoa,2006,All genders,Percent,0.00000
1,Andorra,2014,All genders,Percent,37.71324
2,Andorra,2013,All genders,Percent,9.89641
3,Andorra,2011,All genders,Percent,30.85201
4,Andorra,2010,All genders,Percent,31.17853