In [2]:
import pandas as pd
import mysql.connector

In [ ]:
# Define the URLs for the four dataframes
urls = [
    "https://raw.githubusercontent.com/Cfg-data/final-project/refs/heads/master/data/cleaned/cleaned_SYB67_245_202411.csv",
    "https://raw.githubusercontent.com/Cfg-data/final-project/refs/heads/master/data/cleaned/cleaned_SYB67_309_202411.csv",
    "https://raw.githubusercontent.com/Cfg-data/final-project/refs/heads/master/data/cleaned/cleaned_SYB67_319_202411.csv",
    "https://raw.githubusercontent.com/Cfg-data/final-project/refs/heads/master/data/cleaned/cleaned_SYB67_323_202411.csv"
]

# Load each CSV into its respective dataframe
df1 = pd.read_csv(urls[0])
df2 = pd.read_csv(urls[1])
df3 = pd.read_csv(urls[2])
df4 = pd.read_csv(urls[3])

# Establish a connection to MySQL
connection = mysql.connector.connect(
    host="localhost",       # e.g., 'localhost'
    user="Cecilia",   # your MySQL username
    password="933333333Brinh1ld6",  # your MySQL password
    database="UNDATA_education_db"
)

In [ ]:
def upload_to_mysql(df, table_name, connection):
    cursor = connection.cursor()

    # Prepare the insert statement
    cols = ", ".join(df.columns)
    values = ", ".join(["%s"] * len(df.columns))
    insert_stmt = f"INSERT INTO {table_name} ({cols}) VALUES ({values})"

    # Convert DataFrame to a list of tuples for insertion
    data = [tuple(row) for row in df.values]

    try:
        # Execute the insert statement
        cursor.executemany(insert_stmt, data)
        connection.commit()
        print(f"Data from {table_name} uploaded successfully.")
    except Exception as e:
        print(f"Error uploading data: {e}")
        connection.rollback()

# Upload data from each dataframe
upload_to_mysql(df1, 'table_1', connection)
upload_to_mysql(df2, 'table_2', connection)
upload_to_mysql(df3, 'table_3', connection)
upload_to_mysql(df4, 'table_4', connection)

# Close the database connection
connection.close()