In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/Cfg-data/final-project/refs/heads/master/data/raw/enrollment_data/UNdata_Export_20241213_133700618.csv"

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(url)

# Display the first few rows of the dataframe
df.head()

,Reference Area,Time Period,Sex,Age group,Units of measurement,Observation Value
0,Afghanistan,2014,Female,Not applicable,Number,53613.00000
1,Afghanistan,2014,Female,Not applicable,Percent,20.39494
2,Afghanistan,2014,All genders,Not applicable,Number,262874.00000
3,Afghanistan,2011,Female,Not applicable,Percent,24.26772
4,Afghanistan,2011,All genders,Not applicable,Number,97504.00000

In [3]:
df.shape

(15371, 6)

In [4]:
null_values = df.isnull().sum()

print(null_values)

Reference Area          0
Time Period             0
Sex                     0
Age group               0
Units of measurement    0
Observation Value       0
dtype: int64

In [5]:
df = df.drop(columns=['Age group'])

df.head()

,Reference Area,Time Period,Sex,Units of measurement,Observation Value
0,Afghanistan,2014,Female,Number,53613.00000
1,Afghanistan,2014,Female,Percent,20.39494
2,Afghanistan,2014,All genders,Number,262874.00000
3,Afghanistan,2011,Female,Percent,24.26772
4,Afghanistan,2011,All genders,Number,97504.00000