In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/Cfg-data/final-project/refs/heads/master/data/raw/goverment_expenditure/UNdata_Export_20241213_135423189.csv"

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(url)

# Display the first few rows of the dataframe
df.head()

,Reference Area,Time Period,Sex,Age group,Units of measurement,Observation Value
0,Afghanistan,2014,Not applicable,Not applicable,Percent,18.39787
1,Afghanistan,2013,Not applicable,Not applicable,Percent,18.46120
2,Afghanistan,2012,Not applicable,Not applicable,Percent,12.82317
3,Afghanistan,2011,Not applicable,Not applicable,Percent,19.10585
4,Afghanistan,2010,Not applicable,Not applicable,Percent,22.24014

In [3]:
df.shape

(1805, 6)

In [4]:
null_values = df.isnull().sum()

print(null_values)

Reference Area          0
Time Period             0
Sex                     0
Age group               0
Units of measurement    0
Observation Value       0
dtype: int64

In [5]:
df = df.drop(columns=['Age group'])

df.head()

,Reference Area,Time Period,Sex,Units of measurement,Observation Value
0,Afghanistan,2014,Not applicable,Percent,18.39787
1,Afghanistan,2013,Not applicable,Percent,18.46120
2,Afghanistan,2012,Not applicable,Percent,12.82317
3,Afghanistan,2011,Not applicable,Percent,19.10585
4,Afghanistan,2010,Not applicable,Percent,22.24014