In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/Cfg-data/final-project/refs/heads/master/data/raw/enrollment_data/UNdata_Export_20241213_133640358.csv"

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(url)

# Display the first few rows of the dataframe
df.head()

,Reference Area,Time Period,Sex,Age group,Units of measurement,Observation Value
0,Afghanistan,2014,All genders,Not applicable,Number,1633965.0
1,Afghanistan,2014,Female,Not applicable,Number,583665.0
2,Afghanistan,2013,Female,Not applicable,Number,553167.0
3,Afghanistan,2013,All genders,Not applicable,Number,1569153.0
4,Afghanistan,2012,All genders,Not applicable,Number,1534469.0

In [3]:
df.shape

(5891, 6)

In [4]:
null_values = df.isnull().sum()

print(null_values)

Reference Area          0
Time Period             0
Sex                     0
Age group               0
Units of measurement    0
Observation Value       0
dtype: int64

In [5]:
df = df.drop(columns=['Age group'])

df.head()

,Reference Area,Time Period,Sex,Units of measurement,Observation Value
0,Afghanistan,2014,All genders,Number,1633965.0
1,Afghanistan,2014,Female,Number,583665.0
2,Afghanistan,2013,Female,Number,553167.0
3,Afghanistan,2013,All genders,Number,1569153.0
4,Afghanistan,2012,All genders,Number,1534469.0