In [3]:
import pandas as pd

In [4]:
url = "https://raw.githubusercontent.com/Cfg-data/final-project/refs/heads/master/data/raw/enrollment_data/UNdata_Export_20241213_133629943.csv"

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(url)

# Display the first few rows of the dataframe
df.head()

,Reference Area,Time Period,Sex,Age group,Units of measurement,Observation Value
0,Afghanistan,2003,Female,Not applicable,Percent,42.86953
1,Afghanistan,2003,All genders,Not applicable,Number,24220.00000
2,Afghanistan,2003,Female,Not applicable,Number,10383.00000
3,Afghanistan,1988,Female,Not applicable,Percent,48.83520
4,Afghanistan,1988,All genders,Not applicable,Number,19660.00000

In [5]:
df.shape

(15113, 6)

In [6]:
null_values = df.isnull().sum()

print(null_values)

Reference Area          0
Time Period             0
Sex                     0
Age group               0
Units of measurement    0
Observation Value       0
dtype: int64

In [7]:
df = df.drop(columns=['Age group'])

df.head()

,Reference Area,Time Period,Sex,Units of measurement,Observation Value
0,Afghanistan,2003,Female,Percent,42.86953
1,Afghanistan,2003,All genders,Number,24220.00000
2,Afghanistan,2003,Female,Number,10383.00000
3,Afghanistan,1988,Female,Percent,48.83520
4,Afghanistan,1988,All genders,Number,19660.00000