In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/Cfg-data/final-project/refs/heads/master/data/raw/goverment_expenditure/UNdata_Export_20241213_135440652.csv"

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(url)

# Display the first few rows of the dataframe
df.head()

,Reference Area,Time Period,Sex,Age group,Units of measurement,Observation Value
0,Andorra,2014,All genders,Not applicable,Percent,5.13495
1,Andorra,2013,All genders,Not applicable,Percent,6.41243
2,Andorra,2006,All genders,Not applicable,Percent,6.12251
3,Andorra,2005,All genders,Not applicable,Percent,9.83006
4,Andorra,2004,All genders,Not applicable,Percent,8.50604

In [3]:
df.shape

(715, 6)

In [4]:
null_values = df.isnull().sum()

print(null_values)

Reference Area          0
Time Period             0
Sex                     0
Age group               0
Units of measurement    0
Observation Value       0
dtype: int64

In [5]:
df = df.drop(columns=['Age group'])

df.head()

,Reference Area,Time Period,Sex,Units of measurement,Observation Value
0,Andorra,2014,All genders,Percent,5.13495
1,Andorra,2013,All genders,Percent,6.41243
2,Andorra,2006,All genders,Percent,6.12251
3,Andorra,2005,All genders,Percent,9.83006
4,Andorra,2004,All genders,Percent,8.50604