In [1]:
import pandas as pd
import os

**Fill null values and drop null rows for countries chosen**

In [2]:
url = "https://raw.githubusercontent.com/Cfg-data/final-project/refs/heads/master/data/merged/variables/SYB67_245_202411_grouped_pivoted.csv"

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(url)

# Display the first few rows of the dataframe
df.head()

,Year,Region/Country/Area,All staff compensation as % of total expenditure in public institutions (%),Basic access to computers by level of education: Lower secondary,Basic access to computers by level of education: Primary,Basic access to computers by level of education: Upper secondary,Capital expenditure as % of total expenditure in public institutions (%),Current expenditure other than staff compensation as % of total expenditure in public institutions (%)
0,2000,36,68.3,NaN,NaN,NaN,7.0,24.7
1,2000,804,NaN,NaN,NaN,NaN,8.3,NaN
2,2001,442,71.3,NaN,NaN,NaN,17.5,11.2
3,2002,233,56.3,NaN,NaN,NaN,15.0,28.8
4,2003,308,82.2,NaN,NaN,NaN,9.5,8.3

In [3]:
df.shape

(231, 8)

In [4]:
null_values = df.isnull().sum()

print(null_values)

Year                                                                                                        0
Region/Country/Area                                                                                         0
All staff compensation as % of total expenditure in public institutions (%)                                59
Basic access to computers by level of education: Lower secondary                                          139
Basic access to computers by level of education: Primary                                                  104
Basic access to computers by level of education: Upper secondary                                          140
Capital expenditure as % of total expenditure in public institutions (%)                                   54
Current expenditure other than staff compensation as % of total expenditure in public institutions (%)     59
dtype: int64

In [5]:
# List of columns to check for null values
columns_to_check = [
    'All staff compensation as % of total expenditure in public institutions (%)',
    'Basic access to computers by level of education: Lower secondary',
    'Basic access to computers by level of education: Primary',
    'Basic access to computers by level of education: Upper secondary',
    'Capital expenditure as % of total expenditure in public institutions (%)',
    'Current expenditure other than staff compensation as % of total expenditure in public institutions (%)'
]

# Drop rows where all values in the specified columns are null
df.dropna(subset=columns_to_check, how='all', inplace=True)

# Fill remaining null values in the DataFrame with 0
df.fillna(0, inplace=True)

In [6]:
df.shape

(231, 8)

In [7]:
# Define the output folder path
output_folder = r"C:\Users\Cecilia\Downloads\ironhack\coursework\Final_Project\data\merged\final"

# Ensure the directory exists
os.makedirs(output_folder, exist_ok=True)

# Save the final DataFrame to a CSV file
output_path = os.path.join(output_folder, "SYB67_245_202411final_data.csv")
df.to_csv(output_path, index=False)

# Print confirmation message
print(f"Final CSV has been saved to: {output_path}")

Final CSV has been saved to: C:\Users\Cecilia\Downloads\ironhack\coursework\Final_Project\data\merged\final\SYB67_245_202411final_data.csv

In [8]:
url = "https://raw.githubusercontent.com/Cfg-data/final-project/refs/heads/master/data/merged/variables/SYB67_309_202411_grouped_pivoted.csv"

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(url)

# Display the first few rows of the dataframe
df.head()

,Year,Region/Country/Area,Gross enrollment ratio - Lower secondary level (female),Gross enrollment ratio - Lower secondary level (male),Gross enrollment ratio - Primary (female),Gross enrollment ratio - Primary (male),Gross enrollment ratio - Upper secondary level (female),Gross enrollment ratio - Upper secondary level (male),Students enrolled in lower secondary education (thousands),Students enrolled in primary education (thousands),Students enrolled in upper secondary education (thousands)
0,2000,492,152.8,138.4,133.5,132.9,179.9,144.4,2.0,2.0,1.0
1,2000,674,95.7,92.7,90.9,93.7,23.7,19.1,1.0,1.0,0.0
2,2001,156,82.3,85.1,116.9,115.0,35.4,38.3,0.0,0.0,0.0
3,2001,292,121.2,117.3,107.8,107.7,103.2,103.1,1.0,2.0,1.0
4,2003,156,87.4,88.0,NaN,NaN,37.3,40.9,0.0,NaN,0.0

In [9]:
df.shape

(238, 11)

In [10]:
null_values = df.isnull().sum()

print(null_values)

Year                                                           0
Region/Country/Area                                            0
Gross enrollment ratio - Lower secondary level (female)       13
Gross enrollment ratio - Lower secondary level (male)         12
Gross enrollment ratio - Primary (female)                     12
Gross enrollment ratio - Primary (male)                       12
Gross enrollment ratio - Upper secondary level (female)       13
Gross enrollment ratio - Upper secondary level (male)         13
Students enrolled in lower secondary education (thousands)     6
Students enrolled in primary education (thousands)             7
Students enrolled in upper secondary education (thousands)     8
dtype: int64

In [11]:
# List of columns to check for null values
columns_to_check = [
    'Gross enrollment ratio - Lower secondary level (female)',
    'Gross enrollment ratio - Lower secondary level (male)',
    'Gross enrollment ratio - Primary (female)',
    'Gross enrollment ratio - Primary (male)',
    'Gross enrollment ratio - Upper secondary level (female)',
    'Gross enrollment ratio - Upper secondary level (male)',
    'Students enrolled in lower secondary education (thousands)',
    'Students enrolled in primary education (thousands)',
    'Students enrolled in upper secondary education (thousands)'
]

# Drop rows where all values in the specified columns are null
df.dropna(subset=columns_to_check, how='all', inplace=True)

# Fill remaining null values in the DataFrame with 0
df.fillna(0, inplace=True)

In [12]:
df.shape

(238, 11)

In [13]:
# Define the output folder path
output_folder = r"C:\Users\Cecilia\Downloads\ironhack\coursework\Final_Project\data\merged\final"

# Ensure the directory exists
os.makedirs(output_folder, exist_ok=True)

# Save the final DataFrame to a CSV file
output_path = os.path.join(output_folder, "SYB67_309_202411final_data.csv")
df.to_csv(output_path, index=False)

# Print confirmation message
print(f"Final CSV has been saved to: {output_path}")

Final CSV has been saved to: C:\Users\Cecilia\Downloads\ironhack\coursework\Final_Project\data\merged\final\SYB67_309_202411final_data.csv

In [14]:
url = "https://raw.githubusercontent.com/Cfg-data/final-project/refs/heads/master/data/merged/variables/SYB67_319_202411_grouped_pivoted.csv"

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(url)

# Display the first few rows of the dataframe
df.head()

,Year,Region/Country/Area,Ratio of girls to boys in lower secondary education,Ratio of girls to boys in primary education,Ratio of girls to boys in upper secondary education
0,1995,8,NaN,0.97,NaN
1,1995,36,1.02,1.00,0.97
2,1995,40,1.00,0.99,0.89
3,1995,53,1.02,1.00,0.97
4,1995,56,1.12,0.99,1.04

In [15]:
df.shape

(348, 5)

In [16]:
null_values = df.isnull().sum()

print(null_values)

Year                                                    0
Region/Country/Area                                     0
Ratio of girls to boys in lower secondary education    21
Ratio of girls to boys in primary education             5
Ratio of girls to boys in upper secondary education    19
dtype: int64

In [17]:
# List of columns to check for null values
columns_to_check = [
    'Ratio of girls to boys in lower secondary education',
    'Ratio of girls to boys in primary education',
    'Ratio of girls to boys in upper secondary education'
]

# Drop rows where all values in the specified columns are null
df.dropna(subset=columns_to_check, how='all', inplace=True)

# Fill remaining null values in the DataFrame with 0
df.fillna(0, inplace=True)

In [18]:
df.shape

(348, 5)

In [19]:
# Define the output folder path
output_folder = r"C:\Users\Cecilia\Downloads\ironhack\coursework\Final_Project\data\merged\final"

# Ensure the directory exists
os.makedirs(output_folder, exist_ok=True)

# Save the final DataFrame to a CSV file
output_path = os.path.join(output_folder, "SYB67_319_202411final_data.csv")
df.to_csv(output_path, index=False)

# Print confirmation message
print(f"Final CSV has been saved to: {output_path}")

Final CSV has been saved to: C:\Users\Cecilia\Downloads\ironhack\coursework\Final_Project\data\merged\final\SYB67_319_202411final_data.csv

In [20]:
url = "https://raw.githubusercontent.com/Cfg-data/final-project/refs/heads/master/data/merged/variables/SYB67_323_202411_grouped_pivoted.csv"

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(url)

# Display the first few rows of the dataframe
df.head()

,Year,Region/Country/Area,Teachers at lower secondary level,Teachers at primary level,Teachers at upper secondary level,Teachers with minimum required qualifications at lower secondary level,Teachers with minimum required qualifications at primary level,Teachers with minimum required qualifications at upper secondary level
0,2000,124,NaN,0.0,NaN,NaN,NaN,NaN
1,2000,268,0.0,0.0,0.0,76.8,94.7,93.0
2,2001,208,0.0,0.0,0.0,NaN,NaN,NaN
3,2001,233,0.0,0.0,0.0,NaN,NaN,NaN
4,2001,292,88.0,115.0,44.0,100.0,100.0,100.0

In [21]:
df.shape

(241, 8)

In [22]:
null_values = df.isnull().sum()

print(null_values)

Year                                                                        0
Region/Country/Area                                                         0
Teachers at lower secondary level                                          51
Teachers at primary level                                                  14
Teachers at upper secondary level                                          58
Teachers with minimum required qualifications at lower secondary level    192
Teachers with minimum required qualifications at primary level            159
Teachers with minimum required qualifications at upper secondary level    196
dtype: int64

In [23]:
# List of columns to check for null values
columns_to_check = [
    'Teachers at lower secondary level',
    'Teachers at primary level',
    'Teachers at upper secondary level',
    'Teachers with minimum required qualifications at lower secondary level',
    'Teachers with minimum required qualifications at primary level',
    'Teachers with minimum required qualifications at upper secondary level'
]

# Drop rows where all values in the specified columns are null
df.dropna(subset=columns_to_check, how='all', inplace=True)

# Fill remaining null values in the DataFrame with 0
df.fillna(0, inplace=True)

In [24]:
df.shape

(241, 8)

In [25]:
# Define the output folder path
output_folder = r"C:\Users\Cecilia\Downloads\ironhack\coursework\Final_Project\data\merged\final"

# Ensure the directory exists
os.makedirs(output_folder, exist_ok=True)

# Save the final DataFrame to a CSV file
output_path = os.path.join(output_folder, "SYB67_323_202411final_data.csv")
df.to_csv(output_path, index=False)

# Print confirmation message
print(f"Final CSV has been saved to: {output_path}")

Final CSV has been saved to: C:\Users\Cecilia\Downloads\ironhack\coursework\Final_Project\data\merged\final\SYB67_323_202411final_data.csv

**Fill null values and drop null rows for areas chosen**

In [26]:
url = "https://raw.githubusercontent.com/Cfg-data/final-project/refs/heads/master/data/merged/yearsvars/areas_SYB67_309_202411_grouped_pivoted.csv"

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(url)

# Display the first few rows of the dataframe
df.head()

,Year,Region/Country/Area,Gross enrollment ratio - Lower secondary level (female),Gross enrollment ratio - Lower secondary level (male),Gross enrollment ratio - Primary (female),Gross enrollment ratio - Primary (male),Gross enrollment ratio - Upper secondary level (female),Gross enrollment ratio - Upper secondary level (male),Students enrolled in lower secondary education (thousands),Students enrolled in primary education (thousands),Students enrolled in upper secondary education (thousands)
0,2005,1,76.6,80.7,99.8,104.5,48.3,51.2,0.0,0.0,0.0
1,2005,9,102.7,104.4,89.5,91.1,113.0,117.9,0.0,0.0,0.0
2,2005,15,81.8,86.8,89.3,95.7,55.0,51.1,0.0,0.0,0.0
3,2005,21,99.8,101.4,101.0,102.1,92.7,88.6,0.0,0.0,0.0
4,2005,30,98.8,98.4,108.5,107.0,51.0,51.0,0.0,0.0,0.0

In [27]:
df.shape

(63, 11)

In [28]:
null_values = df.isnull().sum()

print(null_values)

Year                                                          0
Region/Country/Area                                           0
Gross enrollment ratio - Lower secondary level (female)       3
Gross enrollment ratio - Lower secondary level (male)         3
Gross enrollment ratio - Primary (female)                     0
Gross enrollment ratio - Primary (male)                       0
Gross enrollment ratio - Upper secondary level (female)       3
Gross enrollment ratio - Upper secondary level (male)         3
Students enrolled in lower secondary education (thousands)    3
Students enrolled in primary education (thousands)            0
Students enrolled in upper secondary education (thousands)    3
dtype: int64

In [29]:
# List of columns to check for null values
columns_to_check = [
    'Gross enrollment ratio - Lower secondary level (female)',
    'Gross enrollment ratio - Lower secondary level (male)',
    'Gross enrollment ratio - Primary (female)',
    'Gross enrollment ratio - Primary (male)',
    'Gross enrollment ratio - Upper secondary level (female)',
    'Gross enrollment ratio - Upper secondary level (male)',
    'Students enrolled in lower secondary education (thousands)',
    'Students enrolled in primary education (thousands)',
    'Students enrolled in upper secondary education (thousands)'
]

# Drop rows where all values in the specified columns are null
df.dropna(subset=columns_to_check, how='all', inplace=True)

# Fill remaining null values in the DataFrame with 0
df.fillna(0, inplace=True)

In [30]:
df.shape

(63, 11)

In [31]:
# Define the output folder path
output_folder = r"C:\Users\Cecilia\Downloads\ironhack\coursework\Final_Project\data\merged\final"

# Ensure the directory exists
os.makedirs(output_folder, exist_ok=True)

# Save the final DataFrame to a CSV file
output_path = os.path.join(output_folder, "areas_SYB67_309_202411final_data.csv")
df.to_csv(output_path, index=False)

# Print confirmation message
print(f"Final CSV has been saved to: {output_path}")

Final CSV has been saved to: C:\Users\Cecilia\Downloads\ironhack\coursework\Final_Project\data\merged\final\areas_SYB67_309_202411final_data.csv

In [32]:
url = "https://raw.githubusercontent.com/Cfg-data/final-project/refs/heads/master/data/merged/yearsvars/areas_SYB67_319_202411_grouped_pivoted.csv"

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(url)

# Display the first few rows of the dataframe
df.head()

,Year,Region/Country/Area,Ratio of girls to boys in lower secondary education,Ratio of girls to boys in primary education,Ratio of girls to boys in upper secondary education
0,1995,1,0.90,0.91,0.83
1,1995,9,1.02,0.99,1.00
2,1995,15,0.84,0.87,0.93
3,1995,21,0.99,0.99,1.05
4,1995,30,0.89,0.97,0.88

In [33]:
df.shape

(111, 5)

In [34]:
null_values = df.isnull().sum()

print(null_values)

Year                                                    0
Region/Country/Area                                     0
Ratio of girls to boys in lower secondary education    10
Ratio of girls to boys in primary education             0
Ratio of girls to boys in upper secondary education    10
dtype: int64

In [35]:
# List of columns to check for null values
columns_to_check = [
    'Ratio of girls to boys in lower secondary education',
    'Ratio of girls to boys in primary education',
    'Ratio of girls to boys in upper secondary education'
]

# Drop rows where all values in the specified columns are null
df.dropna(subset=columns_to_check, how='all', inplace=True)

# Fill remaining null values in the DataFrame with 0
df.fillna(0, inplace=True)

In [36]:
df.shape

(111, 5)

In [37]:
# Define the output folder path
output_folder = r"C:\Users\Cecilia\Downloads\ironhack\coursework\Final_Project\data\merged\final"

# Ensure the directory exists
os.makedirs(output_folder, exist_ok=True)

# Save the final DataFrame to a CSV file
output_path = os.path.join(output_folder, "areas_SYB67_319_202411final_data.csv")
df.to_csv(output_path, index=False)

# Print confirmation message
print(f"Final CSV has been saved to: {output_path}")

Final CSV has been saved to: C:\Users\Cecilia\Downloads\ironhack\coursework\Final_Project\data\merged\final\areas_SYB67_319_202411final_data.csv

In [38]:
url = "https://raw.githubusercontent.com/Cfg-data/final-project/refs/heads/master/data/merged/yearsvars/areas_SYB67_323_202411_grouped_pivoted.csv"

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(url)

# Display the first few rows of the dataframe
df.head()

,Year,Region/Country/Area,Teachers at lower secondary level,Teachers at primary level,Teachers at upper secondary level,Teachers with minimum required qualifications at lower secondary level,Teachers with minimum required qualifications at primary level,Teachers with minimum required qualifications at upper secondary level
0,2004,145,0.0,0.0,0.0,NaN,93.3,NaN
1,2005,1,0.0,0.0,0.0,NaN,NaN,NaN
2,2005,9,NaN,0.0,NaN,NaN,NaN,NaN
3,2005,15,0.0,0.0,0.0,NaN,97.4,NaN
4,2005,21,0.0,0.0,0.0,NaN,NaN,NaN

In [39]:
null_values = df.isnull().sum()

print(null_values)

Year                                                                       0
Region/Country/Area                                                        0
Teachers at lower secondary level                                         11
Teachers at primary level                                                  0
Teachers at upper secondary level                                         11
Teachers with minimum required qualifications at lower secondary level    49
Teachers with minimum required qualifications at primary level            26
Teachers with minimum required qualifications at upper secondary level    57
dtype: int64

In [40]:
# List of columns to check for null values
columns_to_check = [
    'Teachers at lower secondary level',
    'Teachers at primary level',
    'Teachers at upper secondary level',
    'Teachers with minimum required qualifications at lower secondary level',
    'Teachers with minimum required qualifications at primary level',
    'Teachers with minimum required qualifications at upper secondary level'
]

# Drop rows where all values in the specified columns are null
df.dropna(subset=columns_to_check, how='all', inplace=True)

# Fill remaining null values in the DataFrame with 0
df.fillna(0, inplace=True)

In [41]:
df.shape

(82, 8)

In [42]:
# Define the output folder path
output_folder = r"C:\Users\Cecilia\Downloads\ironhack\coursework\Final_Project\data\merged\final"

# Ensure the directory exists
os.makedirs(output_folder, exist_ok=True)

# Save the final DataFrame to a CSV file
output_path = os.path.join(output_folder, "areas_SYB67_323_202411final_data.csv")
df.to_csv(output_path, index=False)

# Print confirmation message
print(f"Final CSV has been saved to: {output_path}")

Final CSV has been saved to: C:\Users\Cecilia\Downloads\ironhack\coursework\Final_Project\data\merged\final\areas_SYB67_323_202411final_data.csv